.body-table tbody tr:nth-of-type(2n+1){
    background-color: rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 992px) {
    .d-md-down-none {
        display: none !important;
    }
}

@media (min-width: 576px){
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
}
.card-header {
    vertical-align: middle;
    padding-bottom: 3px !important;
    border-bottom: 1px solid #c8ced3;
    border-top-right-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
}
.card-body {
    padding-bottom: 0 !important
}

.table thead th {
    font-weight: 500 !important;
    color: #9c27b0

}

.col-md-4, .card {
    position: relative;
    width: 100%;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
    padding: 0 !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    margin: auto
}



.form-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.form-group {
    margin-bottom: 1rem
}

.input-group {
    display: flex;
    width: 100%;
}

.input-group span{
    margin-top: 4px;
    align-items: center;
    padding: 0.1rem 0.4rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: 400;
    color: #5c6873;
    text-align: center;
    white-space: nowrap;
    border-right: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group div {
   background-color:#f0f3f5 !important
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: inherit !important;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
}


.form-control:focus{
    outline: none !important;
    border-color: #ced4da !important;
    box-shadow: none !important;
    background-size: 100% 100%,100% 100%;
    transition-duration: 2s;
    background-image: linear-gradient(0deg,#9c27b0 1.5px,rgba(76,175,80,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);   
    
}



.btn {
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem !important;
    font-weight: 400 !important;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .2rem;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
    vertical-align: middle
}

.btn.btn-success {
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgba(76,175,80,.14), 0 3px 1px -2px rgba(76,175,80,.2), 0 1px 5px 0 rgba(76,175,80,.12) !important;
}

.btn.btn-success:hover , .btn.btn-success:active, .btn.btn-success:focus {
    box-shadow: 0 14px 26px -12px rgba(76,175,80,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(76,175,80,.2)!important;
    color: #fff!important;
    background-color: #47a44b!important;
    border-color: #47a44b!important;
}

.btn.btn-primary {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
    box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12)!important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    box-shadow: 0 14px 26px -12px rgba(156,39,176,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(156,39,176,.2)!important;
    color: #fff!important;
    background-color: #9124a3!important;
    border-color: #9124a3!important;
}

.btn.btn-danger {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    box-shadow: 0 2px 2px 0 rgba(244,67,54,.14), 0 3px 1px -2px rgba(244,67,54,.2), 0 1px 5px 0 rgba(244,67,54,.12)!important;
}
.btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger:focus {
    color: #fff!important;
    background-color: #f33527!important;
    border-color: #f33527!important;
    box-shadow: 0 14px 26px -12px rgba(244,67,54,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(244,67,54,.2)!important;
}
.form-control option {
    height: 20px;
}